{{ form_start(form) }} <!-- déclaration du début du formulaire dans la page -->
{{ form_rest(form) }}
<button class="btn btn-primary">{{ button | default('Enregistrer') }}</button> <!-- bouton pour sauvegarder les modifications edités -->
{{ form_end(form) }}  <!--, déclaration de la fin du formulaire -->